@charset "utf-8";
/* CSS Document */

.imgclick img:active{
	background:url(./images/newsecond08.gif)
}

.main_table{
	cursor:pointer;
	width:100%;
	background:url(../images/bg_img.png) ;
	background-repeat: repeat-x;
}

.second_table{
	width:96.8%;
	height:auto;
}

.second_table img{
	border:0;no-repeat
}

.set_body{
	background-color:#FFFFFF;
	margin-top:0px;
	margin-left:auto;
}